<form (submit)='doSave($event)' (observable)='assignForm($event)' [fillForm]="sample">

  <label>Name</label>
  <input type="text" placeholder="type your name" name="name" minlength=2 required autofocus>

  <label>email</label>
  <input type="email" placeholder="type your email" name="email" minlength=5 required>

  <label>Terms</label>
  <input type="checkbox" name="terms" required>

  <label>Contact</label>
  <section>
    <label for="contactChoice1">
      <input type="radio" id="contactChoice1" name="contact" value="email"> Email</label>

    <label for="contactChoice2">
      <input type="radio" id="contactChoice2" name="contact" value="phone"> Phone</label>

    <label for="contactChoice3">
      <input type="radio" id="contactChoice3" name="contact" value="mail"> Mail</label>
  </section>

  <label>Birthday</label>
  <input type="date" name="birth">

  <label>Description</label>
  <textarea name="desc" cols="30" rows="10"></textarea>

  <div>
    <button type='submit'>Save</button>
    <button type='reset'>Cancel</button>
  </div>
</form>

<article>
  <!-- <pre><code>{{formData$|async|json}}</code></pre> -->
</article>
