<!-- <article *ngIf="data"> -->
  <form (submit)="doSave()" observable [fillForm]="data$ | async">
    <label>Name</label>
    <input
      type="text"
      placeholder="type your name"
      name="name"
      minlength="2"
      required
      autofocus
    />

    <label>Eye color</label>
    <input type="text" placeholder="type your eye color" name="eye_color" />

    <label>Gender</label>
    <section>
      <label for="contactChoice1">
        <input type="radio" id="contactChoice1" name="contact" value="female" />
        Female</label
      >

      <label for="contactChoice2">
        <input type="radio" id="contactChoice2" name="contact" value="male" />
        Male</label
      >

      <label for="contactChoice3">
        <input type="radio" id="contactChoice3" name="contact" value="n/a" />
        NA</label
      >
    </section>
  </form>
<!-- </article> -->

<article *ngIf="data">
  <pre><code>{{data|json}}</code></pre>
</article>
